---
import ModeloYSection from "../components/ModeloY.astro";
import HomeSection from "../components/HomeSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Prática con Astro.">
  
  <LandingHeader />
  
  <main class=" snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden scroll-smooth">
    
    <div class="snap-center">
      <HomeSection />
    </div>

    <div class="snap-center">
      <ModeloYSection />
    </div>
  </main>
</Layout>
