<section
      class="bg-black h-screen w-screen text-center overflow-hidden relative"
    >
      	<div class="z-30 relative h-full flex flex-col">
			<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Disfrute de Tesla
			</h2>

			<p class="text-white text-sm">
				Programe una prueba de condución hoy mismo
			</p>
			</header>

			<footer class="flex flex-col flex-1 justify-end pb-20 items-center">
			<a
				class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 hover:bg-white hover:text-black transition-colors"
				href="#">Prueba de conducción</a
			>
			</footer>
      	</div>

      	<div class="absolute top-0 bottom-0 h-full w-full z-10">
        	<video
				slot="background"
				class="object-center object-cover h-full w-full"
				autoplay
				muted
				loop
				src="/public_video.webm">
			</video>
      	</div>
    </section>