---
import Logo from "./Logo.astro";

---

<header
      class="py-3 px-10 flex items-center fixed top 0 w-full justify-between z-40 text-white"
    >
      <div class="flex flex-grow basis-0">
        <Logo />
      </div>

      <nav>
        <ul
          class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:py-2 [&>li>a]:px-4"
        >
          <li><a href="#">Model S</a></li>
          <li><a href="#">Model 3</a></li>
          <li><a href="#">Model X</a></li>
          <li><a href="#">Model Y</a></li>
          <li><a href="#">PowerWall</a></li>
          <li><a href="#">Carga</a></li>
        </ul>
      </nav>

      <nav class="flex flex-grow basis-0 justify-end">
        <ul
          class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:py-2 [&>li>a]:px-4"
        >
          <li><a href="#">Soporte</a></li>
          <li><a href="#">Tienda</a></li>
          <li><a href="#">Cuenta</a></li>
          <li><a href="#">Menú</a></li>
        </ul>
      </nav>
    </header>