<section
      class="bg-white h-screen w-screen text-center overflow-hidden relative"
    >
      	<div class="z-30 relative h-full flex flex-col">
			<header>
			<h2 class="text-black pt-40 text-[40px] font-medium">
				Model Y
			</h2>

			<p class="text-black text-sm underline">
				Concertar una prueba de conducción
			</p>
			</header>

			<footer class="flex flex-1 pb-20 ">
			<div class="flex gap-6 mt-auto mx-auto">
                <a
				class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
				href="#">Explorar Inventario</a
			    >
                <a
				class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white flex justify-center items-center text-black"
				href="#">Pedido Personalizado</a
			    >
            </div>
            
			</footer>
      	</div>

      	<div class="absolute top-0 bottom-0 h-full w-full z-10">
        	<img src="/modelo-y.avif" alt="Model Y" class="h-full w-full object-cover object-center"></img>
      	</div>
    </section>